---
import config from '../../config.mjs';
import SocialIcon from './SocialIcon.astro';
---
<div class="w-full h-[1px] overflow-hidden gradient-line"></div>
<div class="py-14 transition-all duration-300 bg-gradient-to-r from-devblog-secondary/10 to-devblog-accent/10 dark:bg-gradient-to-r dark:from-devblog-accent/[2%] dark:to-devblog-secondary/[5%]">
    <footer class="container mx-auto max-w-screen-xl flex flex-initial lg:flex-row flex-col gap-10 items-center px-7">
        <div class="logo flex-none">
            <a href="/" class="font-bold font-devblog-space text-lg hover:text-devblog-accent transition-all duration-300 dark:text-white dark:hover:text-devblog-accent">DevBlog</a>
        </div>

        <ul class="list-none text-[14px] font-normal flex flex-initial flex-row content-center items-center gap-x-[35px]">
            <SocialIcon socialUrl={config?.social?.dribbble} socialType="dribbble" />

            <SocialIcon socialUrl={config?.social?.facebook} socialType="facebook" />

            <SocialIcon socialUrl={config?.social?.github} socialType="github" />

            <SocialIcon socialUrl={config?.social?.instagram} socialType="instagram" />

            <SocialIcon socialUrl={config?.social?.mastodon} socialType="mastodon" />

            <SocialIcon socialUrl={config?.social?.pinterest} socialType="pinterest" />

            <SocialIcon socialUrl={config?.social?.skype} socialType="skype" />

            <SocialIcon socialUrl={config?.social?.twitter} socialType="twitter" />
        </ul>
        <div class="grow lg:text-right">
            <span class="text-[14px] text-devblog-dark/40 transition-all duration-300 dark:text-devblog-white/40">
                2024 <span class="text-devblog-accent"></span> © <a href="https://matiasbaez.com/" target="_blank" class="transition-all duration-300 text-devblog-dark/60 dark:text-devblog-white/60 hover:text-devblog-accent">Matías Baez</a> and <a href="https://matidev-web.vercel.app/" target="_blank" class="transition-all duration-300 text-devblog-dark/60 dark:text-devblog-white/60 hover:text-devblog-accent">matidev</a>
            </span>
        </div>
    </footer>
</div>